---
layout: home
---

<div id="homepage">
  <!-- Small, slim social sidebar -->
  {% include sidebar.html %}

  <!-- The site content. About me, Nav and Image -->
  <main id="content">
    <!-- Navgation Bar -->
    <nav>
      <a href="/#about-me">About</a>
      <a href="https://github.com/thisisabdus">Projects</a>
      <a href="/#blog">Blog</a>
    </nav>

    <!-- Image -->
    <section id="image">
      <div id="mask-image"></div>
      <img src="/assets/images/me.png" alt="" />
    </section>

    <!-- About Me Section -->
    <section id="about-me" style="min-height: 90vh">
      <h1 class="text-shadow-8px">About</h1>
      <p>
        My name is Abdus. I am a JavaScript developer living in
        <a href="https://en.wikipedia.org/wiki/Assam">Assam, India</a>. I
        started learning how to code in around
        <a
          href="https://github.com/thisisabdus/linkclick/commit/ff99fbe65e9f702166d23b165d7f41e7b6711124"
          >July, 2017</a
        >. So far, I am enjoying every bit of it!
      </p>
      <p>
        I started my coding journey with C Language! I didn't choose to learn C
        because I like it but for my college! And trust me, learning C was worth
        it!
      </p>
      <p>
        After coding in C for a few months, I started learning JavaScript. I
        choosed JavaScript because I was(still, I am) very much enthusiastic
        about web development.
      </p>
      <p>
        I aimed to be a good JavaScript developer!
      </p>

      <!-- Contact Section -->
      <div id="contact">
        Say Hi, <a href="mailto:dev.abdus@gmail.com">dev.abdus@gmail.com</a>
        <i style="color: red" class="fas fa-heart"></i>
      </div>
    </section>

    <!-- Blog Post Listing  -->
    <section id="blog">
      <h1 class="text-shadow-8px" style="margin: 6rem 0 1rem 0">Writings</h1>
      {% for post in site.posts %}
      <div class="post">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: '%a, %b %d, %Y' }}</span>
      </div>
      {% endfor %}
    </section>
  </main>
</div>
<script src="/assets/javascript/functions.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    revealElement('#image', 500);
    revealElement('#about-me', 700);
    revealElement('#about-me p', 1000);
    revealElement('nav', 1200);
    revealElement('#sidebar', 1500);
  });
</script>
