{% if page.url == '/' %} {% assign title = site.title %} {% elsif
page.meta.title %} {% assign title = page.meta.title %} {% else %} {% assign
title = page.title %} {% endif %}

<!--  -->

{% if page.meta.description %} {% assign description = page.meta.description %}
{% else %}{% assign description = page.excerpt %} {% endif %}

<title>{{ title }}</title>
<meta name="description" content="{{ description | strip_html }}" />

<meta name="og:title" content="{{ title }}" />
<meta name="og:description" content="{{ description | strip_html }}" />
<meta name="og:image" content="{{ page.meta.image }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description | strip_html }}" />
<meta name="twitter:image" content="{{ page.meta.image }}" />
