<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/post.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css"
    />

    {% include favicon.html %}

    <!-- INCLUDE SEO.HTML -->
    {% include seo.html %}
  </head>
  <body>
    <div id="postpage">
      <!-- Small, slim social sidebar -->
      {% include sidebar.html %}

      <!-- The site content. About me, Nav and Image -->
      <main id="content">
        <!-- Navgation Bar -->
        <nav>
          <div class="logo"><img src="/assets/images/me.png" alt="" /></div>
          <div class="links">
            <a href="/projects">Projects</a>
            <a href="/#blog">Blog</a>
            <a href="/external">External</a>
          </div>
        </nav>

        <!-- Blog Post Content -->
        <div class="post-content">
          <h1 class="text-shadow-8px post-title">{{ page.title }}</h1>
          <p style="color: #777777">
            {{ page.date | date: '%B %d, %Y' }}
          </p>
          {{ content }}
          <p>
            {% include related-post.html %}
          </p>
        </div>
      </main>
    </div>
    <!-- <script src="/assets/javascript/functions.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        revealElement('nav', 1200);
        revealElement('#sidebar', 1500);
      });
    </script> -->
  </body>
</html>
